{% load static %}

<div class="mt-5" style="background-color:blue ; width:100% ; height:350px">
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-3">
            <h3 class="text-white">Contact Information</h3>
            <p style="color:yellow ; font-size:20px"><i class="fa fa-map-marker text-danger"></i> Kathmandu, Nepal</p>
            <p style="color:yellow ; font-size:20px"><i class="fa fa-envelope text-danger"></i> perisha.lama@gmail.com</p>
            <p style="color:yellow ; font-size:20px"><i class="fa fa-mobile text-danger"></i> +977 9813287654/ +977 9812345678</p>
            <p style="color:yellow ; font-size:20px"><i class="fa fa-globe text-danger"></i> www.onlinejobportal.com</p>

        </div>

        <div class="col-md-4 mt-3">
            <h3 class="text-white ">Online Placement</h3>
            <p style="color:yellow ; font-size:20px"> We are glad to announce that we are even providing online job placement for the eligible clients. All the online jobs have its own criteria and policy. Some can even be based on stay home and work.</p>

        </div>

        <div class="col-md-4 mt-3">
            <h3 class="text-white">Newslatter</h3>
            <p style="color:yellow ; font-size:20px">If you need any addition features of any other family then you can mail me or send us your mail.</p>
            <form method="post"class="form-inline">
                {% csrf_token %}
                <input type="email" name="emaild id" placehoder="Email ID" required class="form-control mr-2">
                <input type="submit" value="Send"class="btn btn-primary">

            </form>

        </div>
    </div>

</div>
</div>